.LoginPage{
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
}
.signUp{
    display: flex;
    justify-content: center;
}
.signUp>a{
    text-decoration: none;
    color: brown;
}
.errorMessage ,#errorMessage1 , #errorMessage2 , #errorPwd,#errorbtn{
    color: red;
}
form{
    border: 1px solid #3f51b5;
    border-radius: 8px;
}
button{
    width: -webkit-fill-available;
}