.MUIDataTableToolbar-actions-17{
    display: flex;
    justify-content: flex-end;
    
}
.makeStyles-paper-2{
    /* width: 300px;
    height: 250px;
    padding: inherit; */
/*     
    position: relative;
    width : 350px !important;
    padding-top: inherit !important;
    color: rgba(67, 24, 197, 0.63) !important ;
    box-shadow:  rgba(0, 0, 0, 0.472) 0px 1px 6px, rgba(20, 20, 20, 0.568) 0px 1px 4px !important; */
}

@media screen and (max-width: 600px){
    .CounterControl { width: -webkit-fill-available !important; }
}